* {
    margin: 0;
}

body {
    margin: 40px auto 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0px 10% 0 10%;
}

h1 {
    text-align: center;
}
#myCanvas {
    border:1px solid #000000;
    margin: auto;
}